body,html, div, p, li, ul, button, input, h1, h2,h3,h4 {
    margin:0;
    padding:0;
}
i,b{
  font-style: normal ! important;
}
a {
    text-decoration: none;
}
img {
    pointer-events: none;
}
li {
    list-style: none;
}
body,html {
    font-family: "PingFang SC";
    
}
@media screen and (min-width:420px){
    html{
        font-size: 80px !important;
    }
   }
html{
    font-size: 62.5%;
} 
body {
    background-color: #fff;
    font-size: 10px ! important;
    min-width: 320px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    
}
.c66{
  color: #666;
}
::-webkit-scrollbar{display:none; width:0; height: 0;}
.cube-select::after{
    display: none !important;
}
.listloading .cube-loading-spinners{
    margin: 1em auto;
}
.cube-input::after{
    display: none !important;
}
.cube-textarea-wrapper::after{
    display: none ! important;
}
.fz16{
    font-size: 16px;
}
.fz14{
    font-size: 14px;
}
.fz13{
    font-size: 13px;
}
.fz12{
    font-size: 12px;
}
.c2e{
    color: #2e2e2e;
}
.c4b{
    color: #4B4B4B;
}
.c74{
    color:#747474;
}
.cma{
    color: #1C73E2;
}
.cff{
    color: #FF8033;;
}
.m0{
    margin: 0;
}
.fb{
    font-weight: bold;
}
.tc{
    text-align: center;
}
.tl{
    text-align: left;
}
.cube-btn.cube-btn_active::after, .cube-btn:active::after{
    display: none !important;
}
.cube-scroll-nav-bar-item{
    padding: 0 0.4rem !important;
}
.cube-scroll-nav-bar-item_active{
    font-weight: bold;
}
.cube-slide-item > a > img{
    width: 100% !important;
}
.cube-scroll-nav-bar-item_active{
    background: #fff;
}
.cube-btn-primary:active{
  background: #0c6ae2 !important;
}
.amap-copyright{
    z-index: 1 !important;
}
.amap-logo{
    z-index: 1 !important;
}